<<<<<<< HEAD
.inicioB{
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    text-justify: center;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    max-width: 90rem;
    background-color: rgb(215, 242, 255);
    gap: 1rem;
    border-radius: 10px;
    padding: 1rem;

=======
.inicioB {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  text-justify: center;
  margin: 4rem;
  max-width: 90rem;
  background-color: rgb(215, 242, 255);
  gap: 1rem;
  border-radius: 10px;
  padding: 1rem;
>>>>>>> 05e44045e705e5ad480560ee5480a595ed680c96
}

.novedades {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  align-items: center;
  margin: 4rem;
  max-width: 90rem;
  background-color: rgb(215, 242, 255);
  gap: 1rem;
  border-radius: 10px;
  padding: 1rem;
}

<<<<<<< HEAD

.novedades_fotos{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    gap: 2rem;
    font-size: 2.2rem;
}


.novedades_card{
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    background-color: white;
    padding: 2rem 5rem 2rem 2rem;
=======
.novedades_fotos {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 2rem;
  font-size: 2.2rem;
  flex-wrap: wrap;
}
.novedades_card img {
  max-width: 100%;
  height: auto;
>>>>>>> 05e44045e705e5ad480560ee5480a595ed680c96
}
.novedades_card {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  background-color: white;
  padding: 2rem;
}
.novedades_card img {
  width: 20rem;
}

.text1 {
  font-size: 4rem;
}

<<<<<<< HEAD
.botonSecundario{
    font-size: 2rem;
    height: 3rem;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 3rem;
=======
.botonSecundario {
  font-size: 2rem;
  height: 3rem;
  padding: 0 1rem;

  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 3rem;
>>>>>>> 05e44045e705e5ad480560ee5480a595ed680c96
}
.botonSecundario a {
  padding: 1rem;
  background-color: rgb(61, 61, 199);
  text-decoration: none;
  color: aliceblue;
}
.botonSecundario a:hover {
  color: wheat;
}
<<<<<<< HEAD
.botonSecundario a:hover{
    color: wheat;
}


@media (min-width:825px) {
.novedades_fotos{
    display: flex;
    flex-direction: row;
}
.novedades_card{
    display: flex;
    flex-direction: column;
}
}
=======
>>>>>>> 05e44045e705e5ad480560ee5480a595ed680c96
