* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 62.5%;
}

.logo {
  height: 6rem;
  margin: 0;
  border-radius: 1rem;
}

.header {
  width: 100%;
  padding: 4rem 0;
  background-color: rgb(17, 149, 226);
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

nav {
  padding: 0 !important;
}
.navbar {
  min-height: 100px;
  padding: 0;
}
.navbar .collapse {
  flex-direction: column;
  gap: 1rem;
}
.navbar-toggler {
  padding: 0.75rem 1.25rem;
  font-size: 2rem;
  background-color: #fff;
  border: 2px solid #1976d2;
  border-radius: 8px;
}

.navbar-toggler-icon {
  width: 2.5em;
  height: 2.5em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(25,118,210,1)' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.actual {
  background-color: rgb(19, 105, 161);
  border-radius: 5px;
}

.navbar-nav .nav-link {
  font-size: 20px;
}

.navbar-brand img {
  height: 60px;
  width: auto;
}
.buscador-input {
  height: 38px;
  width: 200px;
  border-radius: 6px;
  font-size: 1.3rem;
  border: 1px solid #b3c2d4;
  padding-left: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
  transition: border 0.2s;
}

.buscador-input:focus {
  border: 1.5px solid #1976d2;
  outline: none;
}

.buscador-btn {
  height: 38px;
  border-radius: 6px;
  font-size: 1.3rem;
  color: #1976d2;
  background-color: #fff;
  border: 1px solid #1976d2;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
  transition: background 0.2s, color 0.2s;
}

.buscador-btn:hover {
  background-color: #1976d2;
  color: #fff;
}

main {
  background-image: url(../img/5d918631669e-AdobeStock_833477820-1-1-.avif);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logos h1 a {
  text-decoration: none;
  font-size: 5rem;
  color: rgb(39, 11, 139);
}
.logos a img {
  width: 15rem;
}
.botonesPrincipales {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0;
  /* background-color:rgb(13, 129, 196) ; */
}
.botonesP {
  font-size: 2rem;
  height: 3rem;
  padding: 0 1rem;
  color: rgb(0, 0, 1);
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(13, 129, 196);
}
.botonesPrincipales a:hover {
  background-color: rgb(26, 123, 189);
  color: bisque;
  border-radius: 1rem;
  transition: 0.3s;
}
.actual {
  background-color: rgb(26, 123, 189) !important;
  border-radius: 5px;
}

main{
    font-size: 2rem;
    background-color: antiquewhite;
    min-height: 50rem;
}

.infoIdwsa {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  text-justify: center;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  max-width: 90rem;
  background-color: rgb(215, 242, 255);
  gap: 1rem;
  border-radius: 10px;
  padding: 1rem;
}

.infoIdwsaP {
  font-size: 2rem;
}

.infoPersonal {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  max-width: 90rem;
  border-radius: 10px;
  padding: 1rem;
  text-justify: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(215, 242, 255);
  font-size: 3rem;
  max-width: 40rem;
}

.personal {
  margin: 2rem;
  font-size: 4rem;
}
.personal ul {
  list-style-position: inside;
  list-style-type: circle;
}

footer {
  width: 100%;
  font-size: 2rem;
  background-color: rgb(230, 215, 198);
  text-align: center;
}
footer p {
  margin: 0 !important;
}

/* lista desplegable */
.especialistas{
  display: flex;
  flex-direction: column;
  margin-bottom: 20rem;
}

.titulolista{
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.881);
  background-color: hsla(0, 0%, 98%, 0.418);
  padding: 1rem;
  border-radius: 10px;
}


.listaObras{
  background-color: hsla(0, 0%, 98%, 0.418);
  list-style-type: circle;
  font-size: 2rem;
  margin: 2rem; 
}



/* Contacto */
.contacto_titulo {
  color: rgb(39, 11, 139);
  font-size: 4rem;
  background-color: hsla(0, 0%, 98%, 0.418);
  padding: 1rem;
  border-radius: 5px;
  max-width: 35rem;
}

.contacto {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacto-img {
  background-image: url(../img/area-de-clinica.webp);
  height: 10rem;
  width: 60rem;
  background-size: cover;
  margin-top: 7rem;
}

.formulario {
  background-color: hsla(0, 0%, 98%, 0.925);
  margin: -10rem auto 0 auto;
  padding: 5rem;
  width: 80%;
}

.campo {
  display: flex;
  margin-bottom: 2rem;
}
.campo_label {
  flex: 0 0 9rem;
  padding-right: 2rem;
  font-size: 1.6rem;
  text-align: c;
}

.campo_input {
  flex: 1;
  border: 1px solid rgb(197, 197, 197);
  font-size: 1.3rem;
}
.campo_textarea {
  height: 10rem;
}

.boton {
  margin-top: 4rem;
  background-color: rgb(43, 43, 204);
  padding: 0.5rem 3rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
}

.boton:hover {
  color: wheat;
  cursor: pointer;
}

.redes {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  background-color: hsla(0, 0%, 98%, 0.418);
  margin: 2rem 10rem;
  padding: 1rem;
}
.redes h3 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: rgb(39, 11, 139);
}
.redes span,
p {
  font-size: 1.5rem;
}
@media (max-width: 576px) {
  .buscador-input {
    width: 120px;
    font-size: 1rem;
  }
  .buscador-btn {
    font-size: 1rem;
    padding: 0 8px;
  }
}

@media (min-width:768px){
  .titulolista{
  font-size: 3rem;
}
.listaObras{
  font-size: 3rem;
}
.especialistas{
  margin-bottom: 25rem;
}
main{
    min-height: 70rem;
}
}

@media (min-width:1024px){
  .titulolista{
  font-size: 4rem;
}
.listaObras{
  font-size: 4rem;
}
.especialistas{
  margin-bottom: 15rem;
}
main{
    min-height: 70rem;
}
}