* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 62.5%;
}


.navbar{
  min-height: 100px;
}

.navbar-nav .nav-link{
  font-size: 20px;
}

.navbar-brand img {
  height: 60px;
  width: auto;
}

.form-control{
  height: 30px;
  width: 100px;
  border-radius: 50%;
}

.btn {
  height: 30px;
  width: 150px;
  border-radius: 50%;
}


main{
    background-image: url(../img/5d918631669e-AdobeStock_833477820-1-1-.avif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.logos h1 a{
    text-decoration: none;
    font-size: 5rem;    
    color: rgb(39, 11, 139);
}
.logos a img{
    width: 15rem;
}
.botonesPrincipales {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    background-color:rgb(13, 129, 196) ;
}
.botonesPrincipales a{
    font-size: 2rem;
    height: 3rem;
    padding: 0 1rem;
    color: rgb(0, 0, 1);
    align-items: center;
    justify-content: center;
    text-decoration: none;
   
}
.botonesPrincipales a:hover{
    background-color:rgb(26, 123, 189) ;
    color: bisque; 
    border-radius: 5px;
}
.actual{
  background-color:rgb(19, 105, 161) ;
    border-radius: 5px;
}


main{
    font-size: 2rem;
    background-color: antiquewhite;
    min-height: 70rem;
}

.infoIdwsa {
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    text-justify: center;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    max-width: 90rem;
    background-color: rgb(215, 242, 255);
    gap: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

.infoIdwsaP{
    font-size: 2rem;
}

.infoPersonal{
    display: flex;
    flex-direction: column;
    margin: 4rem;
    max-width: 90rem;
    border-radius: 10px;
    padding: 1rem;
    text-justify: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 242, 255);
    font-size: 3rem;
    max-width: 40rem;
}

.personal{
    margin: 2rem;
    font-size: 4rem;
}
.personal ul{
    list-style-position: inside;
    list-style-type: circle;
}

footer {
    width: 100%;
    font-size: 2rem;
    background-color: rgb(230, 215, 198);
    text-align: center;
}

/* lista desplegable */
.titulolista{
  font-size: 50px;
  color: rgba(0, 0, 0, 0.881);
  background-color: hsla(0, 0%, 98%, 0.418);
  padding: 1rem;
  border-radius: 10px;
}

.listaObras{
  background-color: hsla(0, 0%, 98%, 0.418);
  list-style-type: circle;
  font-size: 4rem;
  margin: 4rem; 
}




                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 