* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 62.5%;
}
header{
    width: 100%;
    height: 25rem;
    padding: 4rem 0;
    background-color: rgb(17, 149, 226);
    display: flex;
    flex-direction: column;
}
.logos{
    display: flex;
    gap: 4rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.logos h1 a{
    text-decoration: none;
    font-size: 5rem;
    color: rgb(39, 11, 139);
}
.logos a img{
    width: 15rem;
}
.botonesPrincipales {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    background-color:rgb(13, 129, 196) ;
}
.botonesPrincipales a{
    font-size: 2rem;
    height: 3rem;
    padding: 0 1rem;
    color: rgb(39, 11, 139);
    align-items: center;
    justify-content: center;
    text-decoration: none;
   
}
.botonesPrincipales a:hover{
    background-color:rgb(26, 123, 189) ;
    color: bisque; 
    border-radius: 5px;
}


main{
    font-size: 2rem;
    background-color: antiquewhite;
    min-height: 70rem;
}

.infoIdwsa {
    margin-left: 2rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    text-justify: center;
}

.infoIdwsaP{
    font-size: 2rem;
}

.infoPersonal{
    margin-left: 2rem;
    font-size: 3rem;
}

.personal{
    margin: 2rem;
    font-size: 4rem;
}

footer{
    font-size: 2rem;
}